import React from 'react';

import { {{ properCase name }} } from './{{ properCase name}}';

export default {
  title: 'components/{{ properCase name }}',
  component: {{ properCase name }},
};

export const Default: React.FC = () => {
  return (
    <div>
      <{{ properCase name }} />
    </div>
  );
};
